<h2 class="rubrik">All excercises</h2>

<ul>
<% @excercises.each do |exce| %>
  <li>
    <a href="/excercises/<%=exce["id"]%>"> <h4> <%= exce['name'] %> </h4> </a>

    <p class="desc_p"> <%= exce['description'] %> </p> 
    <form class="delete" action="/excercises/<%=exce["id"]%>/delete" method="post">
      <input type="submit" value="ta bort">
    </form>

    <form class="update" action="/excercises/<%=exce["id"]%>/edit" method="get">
      <input type="submit" value="ändra">
    </form>
  </li>
<% end %>
    
</ul> 