<form action="/programs/<%= @program["id"]%>/update" method="post" >
    <label> Program name
        <input type="text" name="program_name" value="<%= @program["name"]%>">
    </label>
    <br>
    <label> Description
        <input type="text" name="program_description" value="<%= @program["description"]%>">
    </label>

    <h3>Choose programs:</h3>
    <% @all_exercises.each do |exercise| %>
        <label>
            <input type="checkbox" name="exercise_ids[]" value="<%= exercise["id"]%>"
            <%= "checked" if @current_exercise_ids.include?(exercise["id"])%>>
            <%= exercise["name"]%>
        </label><br>
    
    <% end %>
    <input type="submit" value="Update">
</form>