<form action="/exercises/<%=@exercise_info["id"]%>/update" method="post">
    <label>Namn
        <input type="text" name="exercise_name" value="<%= @exercise_info["name"]%>">
    </label>
    <br>
    <label>Beskrivning
        <input type="text" name="exercise_description" value="<%= @exercise_info["description"]%>">
    </label>
    <br>
    <label>Primary
        <input type="text" name="exercise_primary" value="<%= @exercise_info["primary_group"]%>">
    </label>
    <br>
    <label>Secondary
        <input type="text" name="exercise_secondary" value="<%= @exercise_info["secondary_group"]%>">
    </label>
    <br>
    <input type="submit" value="Uppdatera">
</form>